* {
  margin: 0;
}

#bar {
  position: fixed;
  font-size: 200%;
  top: 2%;
  right: 5%;
  z-index: 2;
}

i {
  color: white;
}

#section01 {
  margin: 0;
  height: 50vh;
  background: #0c122a;
  color: #f9be19;
  text-align: center;
  position: relative;
}
#section01 h1 {
  position: absolute;
  top: 21%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Fira Sans";
}
#section01 p {
  position: absolute;
  width: 100%;
  top: 26%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#section01 #scene {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 35%;
  z-index: 1;
  overflow: hidden;
}
#section01 #big-pic {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 0;
  z-index: 2;
}
#section01 .big-pic img {
  display: block;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}
#section01 .sm-pic01 {
  width: 32.5%;
  height: 50%;
  position: absolute;
  z-index: 4;
}
#section01 .sm-pic01 img {
  width: 70%;
  position: absolute;
  left: 15% !important;
  top: 10% !important;
  z-index: 4;
  display: none;
}
#section01 .sm-pic02 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 10% !important;
  z-index: 4;
}
#section01 .sm-pic02 img {
  width: 70%;
  position: absolute;
  left: 15% !important;
  top: 50% !important;
  z-index: 4;
}
@media (min-width: 992px) {
  #section01 {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section01 .container {
    margin: 0;
    width: 50%;
    position: relative;
    height: 100vh;
    left: 50%;
  }
  #section01 .container h1 {
    position: absolute;
    top: 47.5%;
    left: 37.5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: "Fira Sans";
  }
  #section01 .container p {
    position: absolute;
    width: 100%;
    top: 52.5%;
    left: 37.5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #section01 #scene {
    width: 60%;
    height: 100vh;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section01 #scene .big-pic {
    top: 0%;
  }
  #section01 #scene .big-pic img {
    width: 80%;
  }
  #section01 #scene .sm-pic01 img {
    display: block;
  }
  #section01 #scene .sm-pic02 {
    top: 35% !important;
    left: 50% !important;
  }
}

#section02 {
  padding: 0;
  margin: 0;
  height: 75vh;
  background: #0c122a;
  color: #f9be19;
}
#section02 .container {
  padding-left: 3rem;
  padding-right: 3rem;
  height: 80vh;
  position: relative;
}
#section02 .container h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Fira Sans";
}
#section02 .container .swiper {
  top: 20%;
}
#section02 .container .swiper .swiper-slide .card {
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
#section02 .container .swiper .swiper-slide .card a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
#section02 .container .swiper .swiper-slide .card a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 992px) {
  #section02 {
    height: 100vh;
  }
  #section02 .container {
    height: 100vh;
  }
  #section02 .swiper {
    width: 100%;
    height: 500px;
    top: 20%;
  }
  #section02 .swiper .swiper-slide .card {
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  #section02 .swiper .swiper-slide .card a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  #section02 .swiper .swiper-slide .card a img {
    width: 100%;
  }
}

#section03 {
  padding: 0;
  margin: 0;
  height: auto;
  background: #0c122a;
  color: #f9be19;
  text-align: center;
  position: relative;
}
#section03 h2 {
  position: absolute;
  top: -5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Fira Sans";
}
#section03 .container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#section03 .container .service {
  width: 50%;
  height: 200px;
  margin-bottom: 2rem;
  position: relative;
}
#section03 .container .service img {
  height: 100%;
  padding: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  position: absolute;
}
#section03 .container .service h3 {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#section03 .container .service p {
  position: absolute;
  top: 57.5%;
  left: 50%;
  width: 100%;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
  #section03 {
    position: relative;
    height: 100vh;
  }
  #section03 h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-family: "Fira Sans";
  }
  #section03 .container {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section03 .container .service {
    width: 33.3%;
  }
}

.swiper {
  height: 470px;
}
@media (min-width: 576px) {
  .swiper {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .swiper {
    height: 360px;
  }
}
@media (min-width: 1200px) {
  .swiper {
    height: 650px;
  }
}