// // 群組化
// %frame {
//   .content {
//     .frame {
//       font-size: 1.1rem;
//       padding: 0 3rem;
//       margin-top: -25px;
//       margin-bottom: -30px;
//       position: relative;
//       h1 {
//         font-size: 2rem;
//         color: white;
//         font-weight: bolder;
//         position: absolute;
//         left: 50%;
//         top: -60px;
//         margin-top: 0.4rem;
//         transform: translateX(-50%);
//       }
//     }
//   }
// }
