// 文字、行高、空間
$font-base-size: 16px;
$line-height_level: 1.4;
$space: 1rem;

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
